title: "MLOps"
nav:
    - index.md
    - reproducability.md
    - mlops.md
    - MLOps parts:
        - logging.md
        - data-versioning.md
        - pipelines.md
        - model-registry.md
        - infrastructure.md
    - outlook.md


