title: "DevSecOps"
nav:
    - index.md
    - ssdlc.md
    - devsecops1.md
    - Building blocks:
        - devsecops2.md
        - devsecops3.md
        - devsecops4.md
        - devsecops5.md
        - devsecops6.md
        - devsecops7.md
    - exercises-pipeline-tools.md
{#
    - exercises.md
#}
    - conclusion.md
