title: Information
nav:
    - objectifs.md
    - modalites.md
    - encadrement.md
    - contraintes.md
    - app.md
    - infra.md
    - deroulement.md
    - gestion.md
    - evaluation.md
    - defenses.md